<!DOCTYPE html>
<html>
<head>
  <title>State Farm Microsite</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.js', 'jquery_ujs.js', 'jquery.min.js', 'jquery.zclip.min.js', 'copyscript.js' %>
  

<script>
  // this allows jquery to be called along with scriptaculous and YUI without any conflicts
  // the only difference is all jquery functions should be called with $j instead of $
  // e.g. $j('#div_id').stuff instead of $('#div_id').stuff
//  var $j = jQuery.noConflict();
</script>


<%= csrf_meta_tag %>
</head>
<body>


<%= yield %>
<footer>
	<p>NO PURCHASE OR GAME PLAY NECESSARY TO ENTER OR WIN. Void in Quebec & where prohibited. Begins 12:00 a.m. CT on 7/12/10 & ends at 11:59 p.m. CT on 9/26/10.
	Must be a legal resident of the 50 U.S., DC or Canadian provinces of Alberta, New Brunswick or Ontario, 18+ at time of entrzzty to participate.
	Eligibility & other restrictions apply. <br/>Click here for Official Rules (with alternate method of entry) & complete details.</p>
	<ul id="footerBtns">
		<li><a href="http://www.statefarm.com" target="_blank"><%= image_tag 'find_agent_btn.jpg' %></a></li>
		<li><a href="http://www.statefarm.com" target="_blank"><%= image_tag 'download_btn.jpg' %></a></li>
	</ul>
	
	<ul id="footerNav">
		<li><a href="#">Official Rules</a></li>
		<li><a href="#">Privacy Policy</a></li>
		<li><a href="#">Ask Us</a></li>
		<li><a href="#">MLB Privacy Policy</a></li>
	</ul>
</footer>
</body>
</html>
