<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>

<p>

<b>Asset:</b>
<%= if @post.asset? then
      link_to 'Asset Link', @post.asset.url 
    end 
%>
</p>

<p>
  <b>Visible:</b>
  <%= @post.visible %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Posts Home', posts_path %>
