<h1>Charity Resource Page</h1>

<p>
Here you'll find resources to help you promote your charity's GTB team on facebook.
</p>

<div>
<%= Heading.find(:first, :conditions => ['visible = ?', true]).title.to_s %><br/>
<%= Heading.find(:first, :conditions => ['visible = ?', true]).header2.to_s %><br/>

</div>

<table>
  <tr>
    <th></th>
    <th>Description</th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <% if post.visible? %>
      <tr>
	
	<td><%= if post.photo?
		  # image_tag post.photo.url 
		end %>
	</td>
	<td><p id='description'><%= post.description %></p>
	
	<p>Posted <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S").to_s %> </p>
	</td>
	

	<td><a id='copy-description' href='#'>> Copy Text</a><br>
		<%= 
		if post.photo?
		    link_to '> Download Image', post.photo.url.to_s
		    
		    # puts '<br/>'
		end
		  %>
		
		   <%= 
		if post.asset?
		    link_to '> Download Assets', post.asset.url.to_s
		    # puts '<br/>'
		end
		  %>
		
		
		  
	</td>
	
      </tr>
<%	end
  end %>
</table>

<br />

