<%= javascript_include_tag 'jquery.bgiframe-2.1.2.js', 'jquery.ui.core.js', 'jquery.ui.widget.js', 'jquery.ui.mouse.js', 'jquery.ui.draggable.js', 'jquery.ui.position.js', 'jquery.ui.resizable.js',
'jquery.ui.dialog.js' %>
<link rel="stylesheet" type="text/css" href="stylesheets/jquery.fancybox-1.3.4.css" media="screen" />
<link rel="stylesheet" href="stylesheets/style.css" />
<script src="javascripts/modernizr-1.7.min.js"></script>
  <link rel="shortcut icon" href="_/img/favicon.ico">

	<!-- The is the icon for iOS's Web Clip. -->
	<link rel="apple-touch-icon" href="_/img/apple-touch-icon.png">
<header>
<ul id="headerText">
		<li class="headerTitle"><h1>CHARITY RESOURCES</h1></li>
		<li><p>Here you'll find downloadable images, videos and conversation starters to engage with your fans.</p></li>
</ul>
</header>
<section>
<ul id="postArea">
	<li class="postHeadline">
		<h2>
		    <%= Heading.find(:first, :conditions => ['visible = ?', true]).title.to_s %><br/>
		    
		</h2>
	</li>
<!--POST 1 START-->
      
	
	<% @posts.each_with_index do |post, index| %>
	  <% if post.visible? %>
	      <li class="postSection<%= if index % 2 == 0 then 1.to_s else 2.to_s end %>">
		    <div class="postThumb"><a href="#"><%= 
		    if post.photo? and not post.video?
			image_tag(post.photo.url.to_s, :height => '119', :width => 178, :alt =>'thumbnail')
		    elsif post.photo? and post.video?    
			link_to(image_tag(post.photo.url, :border=>0, :height => '119', :width => 178), post.video.url.to_s)
		    else
			image_tag('blank.png', :height => '119', :width => '178')
		    end
		      %></a></div>
		    
		    <div class="postInfo">
			    <p width="500"><%= post.description %>
			    
			    </p>
			    <br/>
			    <p>Posted <%= post.created_at.strftime("%m/%d/%Y").to_s %></p>
		    </div>
		    <div class="downloadBtn">
		    <%= 
		    if post.asset?
		      link_to(image_tag('download_btn.png', :border=>0), post.asset.url.to_s)
			# puts '<br/>'
		    else
		      image_tag('blank.png', :width => '141', :height => '35')
		    end
		      %>
		    </a></div>
	      </li>
	  <% end %>
	<% end %>
<!--POST 2 END-->


	
	
</ul>
<!--POST SECTION END-->	
</section>

<footer>
	<p>NO PURCHASE OR GAME PLAY NECESSARY TO ENTER OR WIN. Void in Quebec & where prohibited. Begins 12:00 a.m. CT on 7/12/10 & ends at 11:59 p.m. CT on 9/26/10.
	Must be a legal resident of the 50 U.S., DC or Canadian provinces of Alberta, New Brunswick or Ontario, 18+ at time of entrzzty to participate.
	Eligibility & other restrictions apply. <br/>Click here for Official Rules (with alternate method of entry) & complete details.</p>
	<ul id="footerBtns">
		<li><a href="http://www.statefarm.com" target="_blank"><img src="images/find_agent_btn.jpg" alt="" /></a></li>
		<li><a href="http://www.statefarm.com" target="_blank"><img src="images/download_btn.jpg" alt="" /></a></li>
	</ul>
	
	<ul id="footerNav">
		<li><a href="#">Official Rules</a></li>
		<li><a href="#">Privacy Policy</a></li>
		<li><a href="#">Ask Us</a></li>
		<li><a href="#">MLB Privacy Policy</a></li>
	</ul>
</footer>



<div>
<%= Heading.find(:first, :conditions => ['visible = ?', true]).title.to_s %><br/>
<%= Heading.find(:first, :conditions => ['visible = ?', true]).header2.to_s %><br/>

</div>

<script>
	
	function videopopup() {
		// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
		$( "#dialog:ui-dialog" ).dialog( "destroy" );
	
		$( "#dialog-modal" ).dialog({
			height: 360,
			width: 440,
			modal: true
		});
	}
	$("a").click(videopopup());
	</script>


<div id="dialog-modal" title="Basic modal dialog">
	<iframe width="425" height="349" src="http://www.youtube.com/embed/tqjrIf_IYa0" frameborder="0" allowfullscreen></iframe>
</div>




<br />

