<%= form_for(@heading) do |f| %>
  <% if @heading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@heading.errors.count, "error") %> prohibited this heading from being saved:</h2>

      <ul>
      <% @heading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :header2 %><br />
    <%= f.text_field :header2 %>
  </div>
  <div class="field">
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
