<header>
<ul id="headerText">
	
		<li class="headerTitle"><h1>Forgot Password</h1></li>
		
</ul>
</header>
<section>
<ul id="postArea">
<li class="postSectionMedium">

<div class="postThumb"><%= image_tag('blank.png', :height => '419', :width => '178') %></div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.submit "Send me reset password instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
